<header>
  <menu>
    <nav>
      <ul>
        <li>empty</li>
        <li>empty</li>
        <li>empty</li>
        <li>empty</li>
        <li>empty</li>
      </ul>
    </nav>
  </menu>
</header>
<main>
  <section class="top">
    <h1>Test angular site for RENDER</h1>
  </section>
  <section>
    <h3>user help</h3>
    <p>it is used for checking how work with RENDER</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam non veritatis placeat velit deserunt quas molestias saepe blanditiis molestiae ex minima voluptatem doloribus ea similique suscipit, eum ipsam consectetur ipsum.</p>
  </section>

</main>
<footer>
  <p>made by btcthirst</p>
</footer>